body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('corazon.png'); /* Cambia esto por el path real de tu imagen */
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    animation: floatBackground 20s linear infinite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: #4CAF50;
}

@keyframes floatBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

h1 {
    font-size: 2em;
}